:root {
  --font-family: 'Google Sans', Impact, Helvetica, Arial, sans-serif;
  --font-title-size: 2rem;
  --font-menu-button-size: 1.3rem;
  --font-paragraph-size: 0.95rem;
  --font-detail-size: 0.85rem;
  --font-thin-weight: 100;
  --font-regular-weight: 300;
  --font-bold-weight: 700;

  --border-radius: 5px;
  --gap-beetween-components: 0.8rem;
}
